.date-comment{
    display: flex;

    div{
        display: flex;
        margin-right: 20px;
    }

    p{
        font-size: 14px;
        margin: 0;
    }

    i{
        margin-right: 10px;
    }
}