.info{
    h1{
        font-weight: bold;
        font-size: 20px;
    }

    .left{
        h1{
            margin: 10px 0 ;
        }
        .facilities{
            small{
                display: inline-block;
                margin-right: 10px;
                font-weight: 16px;
                font-weight: 550;
            }
        }
    }

    .right{
        & > div{
            margin-bottom: 16px;
            
            p{
                margin-left: 10px;
            }
        }
    }
}