.user-list {
    border: 2px solid #e3e6f0;
    border-collapse: collapse;
    tr {
        border: 1px solid #e3e6f0;
        border-collapse: collapse;
        color: #858796;
        th,
        td {
            white-space: nowrap;
            padding: 5px;
            border: 1px solid #e3e6f0;
            text-align: justify;
            &.btn-control {
                padding-right: 10px;
            }
        }
    }
}
