.card {
    &:hover {
        .img {
            transition: 0.75s;
            transform: scale(1.3);
        }
    }
    &:not(:hover) {
        .img {
            transition: 0.75s;
            transform: scale(1);
        }
    }
}