.news{
    height: 80vh;
    margin-bottom: 200px;
    background-color: #fff;
    padding: 30px 20;
    .title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span{
            border-radius: 50px;
            background-color: #FFE4DB;
            color: #FF5A3C;
            padding: 3px 40px;
            font-size: 14px;
            margin: 50px 0 0 0;
        }
        h1{
            font-size: 30px;
            font-weight: bold;
            margin: 20px 0;
        }
    }// end title
    .news-content{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .new-content{
            background-color: #fff;
            padding: 10px;
            img{
                width: 100%;
            }
            .new-info {
                display: flex;
                margin: 10px 5px;
                .info-group{
                    margin: 0 15px 0 0 ;
                    i{
                        color: #FF5A3C;
                    }
                }
            }
            h1{
                font-size: 24px;
                font-weight: bold;
            }
            .new-footer{
                display: flex;
                justify-content: space-between;
                border-top: 1px solid #D9D9D9;
                margin-top: 50px;
                padding: 15px 10px 0;
                a{
                    text-decoration: none;
                    color: #FF5A3C;
                    font-weight: bold;
                }
            }
        }// end new-content
    }
}
