.overview{
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 55px;
    .row{
        width: 100%;
    }
    .view-image{
        margin-top: 3vh;
        height: 100%;
        position: relative;
        z-index: -100;
        .image{
            width:  70%;
            height: 50vh;
            left: 15%;
            background-color: #FF5A3C;
            position: absolute;
            z-index: 1;
            &.active{
                left: 0;
                margin-top: 10%;
                background-color: #000;
                z-index: -1;
            }
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .view-context {
        small{
            color: #FF5A3C;
            font-weight: bold;
        }
        h2{
            font-weight: bold;
            margin-top: 30px;
            letter-spacing: 0.1;
            margin-bottom: 15px;
        }
        p{
            font-size: 11px;
            font-weight: 400;
            margin-bottom: 15px;
        }
        .blog{
            display: flex;
            align-items: center;
            border: 1px solid #E6EAEB;
            i{
                font-size: 30px;
                color: #FF5A3C;
                margin: 40px;
            }
            .blog-info {
                h3{
                    font-size: 16px;
                    font-weight: bold;
                    margin: 25px 0 0 0 ;
                }
            }
        }
    }// end view-context
}
