.slick-slider {
    max-width: 100vw;
    min-height: 100%;
    .slick-list{
        width: 85vw;

        .slick-track {
            display: flex;

            .slick-slide{
              
                .content-carousel{
                    display: flex;
                    flex-direction: column;
                    padding: 20px;
                    align-items: flex-start;
                }
    
                img {
                    height: 100%;
                    border-radius: 16px;
                }
            }
        }
    }
  
    
    
}
