@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply font-primary text-base font-normal;
  }
  input {
    @apply outline-none;
  }
  input:focus + .input-error {
    display: none;
  }
}
@layer components {
  .container {
    max-width: 90%;
    margin: 0 auto;
  }
  .container-fluid {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}
.quill {
  border: 1px solid #f1f1f3;
  border-radius: 10px;
  padding: 15px 25px;
  .ql-toolbar.ql-snow {
    border: none;
    background: none;
    @apply bg-text-4 bg-opacity-10 inline-block rounded-xl px-5 py-3;
  }
  .ql-container.ql-snow,
  .ql-editor {
    @apply border-none font-primary text-sm;
  }
  .ql-editor {
    @apply pt-10;
  }
  .ql-editor.ql-blank::before {
    font-style: normal;
    font-size: 14px;
  }
}
body {
  .react-date-picker {
    @apply w-full px-6 py-4 text-sm font-medium border rounded-xl placeholder:text-text-4 dark:placeholder:text-text-2 dark:text-white bg-transparent border-strock text-text-1 dark:border-darkStroke;
    height: 54px;
    .react-date-picker__wrapper {
      @apply border-none justify-between items-center;
    }
    .react-date-picker__clear-button {
      @apply hidden;
    }
    .react-date-picker__inputGroup {
      min-width: 0;
      flex-grow: 0;
    }
    .react-date-picker__button {
      padding: 0;
    }
  }
  .react-date-picker__calendar .react-calendar {
    @apply border-none shadow rounded-lg;
  }
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    @apply bg-transparent;
  }
  .react-calendar__tile:not(.react-calendar__tile--active, .react-calendar__tile--now):enabled:hover,
  .react-calendar__tile:not(.react-calendar__tile--active, .react-calendar__tile--now):enabled:focus {
    @apply bg-transparent text-primary;
  }
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus,
  .react-calendar__tile--active,
  .react-calendar__tile--active:hover {
    @apply bg-primary text-white rounded-lg;
  }
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus,
  .react-calendar__tile--now,
  .react-calendar__tile--now:hover {
    @apply bg-secondary text-white rounded-lg;
  }
}
